# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
r.md
p.md
remove_comments.py
changelog.txt
gradle
.vscode
docs/changelogs
.github
scripts

# Files from Forge MDK
forge*changelog.txt

